.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
   text-align: center;




  }

  h1 {
  background-color: black;
  color: wheat;
  font-family: Georgia, 'Times New Roman', Times, serif;
}





  /* BUNA STUFF */

  .fa-star {
    margin: 0.5em;
    font-size: 24px;
  }


  /* these spans are for the numbers  */

span {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    background-clip: ccc;
    background-color: darkgreen;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;

  }


  .selected {
    background-color: #eee;
    color: #ddd;
    cursor: not-allowed;
  }
  
  .used {
    background-color: #aaddaa;
    color: #99bb99;
    cursor: not-allowed;
  }